.parent{
  
    height: 25em;
    background-image: url(https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png);
    display: flex;
    justify-content: center;


}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.container{

padding: 1em 5em;
width: 80em;

}

.nav{
   
    display: flex;
    justify-content: space-between;
    outline: none;
    border: none;
    list-style: none;

}
.ul2{
    display: flex;
    margin: 0em  2em;
    justify-content: space-around;
    outline: none;
    border: none;
    list-style: none;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
}
.ul1{
    outline: none;
    border: none;
    list-style: none;
    color: white;
    font-family:Arial, Verdana, Geneva, Tahoma, sans-serif;


}
.li{
    margin: 0em 1em;
}
.logo{
    display: flex;
    justify-content: center;
    padding: 2em;
    height: 8em;
    /* width: 5em; */

}
.p1{
    display: flex;
    justify-content: center;
    margin: 1em;
    /* font-size: xx-large; */
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    /* font-weight: 500; */
     line-height: 48px;
    font-size: 36px;

}
.search{
    display: flex;
    justify-content: center;
    /* background-color: white; */
    height: 3em;
    align-items: center;


}
.selectto{
    border-top-left-radius: 4px;
 border-bottom-left-radius: 4px;
    display: flex;
    background-color: white;
    color:white;
   justify-content: space-evenly;
    padding:0em 1em ;
   
    
}
.select{
    background-color: white;
    color:black;
    box-sizing: inherit;
    width: 15em;
    height: 4em;
 padding: 1em 1em;
 font-family: Arial, Helvetica, sans-serif;

outline-style: none;
border-style: none;
/* list-style: none; */

}
.select-one{
    border-top-left-radius: 4px;
 border-bottom-left-radius: 4px;
    background-color: white;
    /* color:black; */
 /* box-sizing: inherit; */
 height: 3em;
 padding: 1em 0em;
outline-style: none;
border-style: none;
}
.inp{
    width: 35em;
    height: 4em;
    box-sizing: inherit;
    padding: 1em;
    outline: none;
    border: none;
    font-style: 15px;

}
.input{
    display: flex;
    background-color: white;
    color: black;
    padding:0em 1em ;
    outline: none;
    border: none;
    border-top-right-radius: 4px;
 border-bottom-right-radius: 4px;
 font-family: Arial, Helvetica, sans-serif;
}

.svn{
    
    height: 3em; 
    display: flex;
    align-items: center;
    padding: 1em;
}
.bg{
    background-color: white;
    backface-visibility: visible;
    padding: 1em 0em;
}

option{
 font-family: Arial, Helvetica, sans-serif;
font-weight: 500;
}

.card{
  display: flex;
  justify-content: space-between;
padding: 7em 0em;
}
.card-one{
    padding: 2em;

}
.img{
   padding: 3em;
   height: 2em;
   width: 10px;
   /* height: 100px; */
   
}